/* Give your page a fun background color */
body {
 background-color: rgb(150, 120, 110);
 margin: 0;
 font-family: Arial, Helvetica, sans-serif;
}
/* Make the header and footer a different color from the background */
header {
 background-color: rgb(90, 130, 160);
 margin: 0 0 10px;
 padding: 1%;
}
/* Align the h1 containing your name in the center of the header*/
.name {
 color:rgb(55, 55, 55);
 text-align: center;
 margin: 0;
}
/* Make your p tag a different color and italic */
.fav-quote {
 background-color:rgb(90, 130, 160);
 margin: 10px 0 0;
 padding: 0.5%;
 color: rgb(55, 55, 55);
 font-style: italic;
 text-align: center;
}

.cite {
 font-style: normal;
 font-weight: bold;
}

.cite-book {
 font-weight: bold;
}
/* Put a border around your image */
.img {
 border: 10px dotted  rgb(120, 80, 150);
 padding: 0;
 display: block;
 margin: auto;
 max-height: 100%;
 max-width: 98%;
}
/* Change the font-family of your list */
.facts {
 color: rgb(220, 220, 220);
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -275%);
}

.facts-list {
 color: rgb(220, 220, 220);
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-52.5%, -25%);
 list-style-position: inside;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.facts-list li + li {
 margin-top: 5px;
}

 .container {
  position: relative;
  text-align: center;
 }