/* Give your page a fun background color */
body {
 background-color: rgb(150, 100, 130);
}
/* Make the header and footer a different color from the background */
header {
 background-color: rgb(90, 130, 160);
 margin
}
/* Align the h1 containing your name in the center of the header*/
.name {
 text-align: center;
}
/* Make your p tag a different color and italic */
.fav-quote {
 color: rgb(rgb(105, 104, 104));
 font-style: italic;
}
/* Put a border around your image */
.img {
 outline: 10px solid  rgb(130, 100, 150);
 outline-offset: -10px;
}
/* Change the font-family of your list */